adbc_driver_manager==1.2.0
adbc_driver_postgresql==1.2.0
adbc_driver_sqlite==1.2.0
anywidget==0.9.13
AppKit==0.2.8
array_api_strict==2.1
asgiref==3.8.1
atheris==2.3.0
beautifulsoup4==4.12.3
bokeh==3.6.0
boto3==1.35.54
botocore==1.35.54
brotli==1.1.0
brotlicffi==1.1.0.0
cached_property==2.0.1
cffi==1.15.1
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.1.0
cudf==0.6.1.post1
curio==1.6
cycler==0.12.1
Cython==3.0.11
dask_expr==1.1.16
defusedxml==0.7.1
disco==1.40.4
dl==0.1.0
docutils==0.21.2
duckdb==0.8.1
email_validator==2.0.0.post2
eval_type_backport==0.2.0
fastparquet==2024.5.0
filelock==3.16.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2023.5.0
gitdb_speedups==0.1.0
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.116.0
ibis==3.3.0
ipython==8.12.3
ipywidgets==8.0.6
isoduration==20.11.0
jax==0.4.35
jnius==1.1.0
JPype1==1.5.0
jsonpointer==2.3
keyring==25.5.0
lxml==4.9.3
matplotlib==3.9.2
memory_profiler==0.61.0
modin==0.32.0
mpmath==1.3.0
mtrand==0.1
numarray==1.5.1
Numeric==24.2
numexpr==2.8.4
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.2
outcome==1.3.0.post0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==5.24.1
polars==1.12.0
pooch==1.8.2
psutil==5.9.5
pycares==4.4.0
pycurl==7.45.3
PyInstaller==6.11.0
pyodide==0.0.2
pyOpenSSL==24.2.1
pyperf==2.8.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.7.1
PySide6==6.8.0.2
pytest==7.4.0
pytest_fail_slow==0.6.0
pytest_timeout==2.3.1
python_bcrypt==0.3.2
python_calamine==0.2.3
pyxlsb==1.0.10
QtPy==2.3.1
railroad==0.5.0
redis==5.2.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.10.0
scikit_learn==1.2.2
scikits.talkbox==0.2.5
scipy_doctest==1.4
selenium==4.26.1
sets==0.3.2
setuptools_scm==8.1.0
simplejson==3.19.3
slack_sdk==3.33.3
snowflake==1.0.0
socksio==1.0.0
Sphinx==8.1.3
SQLAlchemy==2.0.18
sympy==1.12
testbench==0.1.2
threadpoolctl==3.5.0
traitlets==5.14.3
trove_classifiers==2024.10.21.16
uri_template==1.2.0
urllib3_secure_extra==0.1.0
uvloop==0.17.0
vegafusion==1.6.9
watchdog==6.0.0
webcolors==1.13
xarray==2024.10.0
xlrd==2.0.1
XlsxWriter==3.1.2
xmlrpclib==1.0.1
zstandard==0.21.0
